#banco{
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    background: var(--cor-branco)
}

#banco img{
    object-fit: cover;
    min-width: 40%;
}

#banco-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 100px 100px 0px 100px;
}

#banco h3{
    text-align: left;
    padding-bottom: 50px;
    color: var(--cor-laranja);
}

#banco p{
    text-align: left;
    font-size: 1.875rem;
    font-weight: 200;
    padding-bottom: 70px;
    color: var(--cor-cinza);
}

#banco a{
    text-align: center;
    color: var(--cor-branco);
    padding: 15px 30px 15px 30px;
    width: fit-content;
    font-size: 1.563rem;
    border-radius: 50px;
    background: var(--cor-laranja);
}

#banco a:hover{
    transform: scale(1.02);
    transition: all 0.1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}