#fabrica{
    display: flex;
    max-height: 100vh;
    background: var(--cor-branco)
}

#fabrica h3{
    color: var(--cor-laranja);
}

#fabrica p{
    color: var(--cor-cinza);
}

#circle-fabrica{
    position: absolute;
    right: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--cor-laranja);
}

#fabrica img{
    object-fit: cover;
    max-width: 50%;
    min-height: 100%;
}

#fabrica-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 80px 50px 80px 50px;
}

#fabrica p{
    padding-top: 50px;
    font-size: 1.563rem;
    font-weight: 200;
    max-width: 50vw;
}