@import url(/css/hero.css);
@import url(/css/fabrica.css);
@import url(/css/gptw.css);
@import url(beneficios.css);
@import url(/css/banco.css);

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: ease-in-out;
    font-family: "Spline Sans", sans-serif;
}

html{
    overflow-x: hidden;
}

:root {
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-cinza: #222222;
    --cor-laranja: #FF7A00;
}

html {
    scroll-snap-type: y mandatory;
}

li {
    list-style-type: none;
}

.white-bar {
    height: 17px;
    width: 2px;
    background-color: var(--cor-branco);
}

.icon {
    width: 20px;
    height: 20px;
}

.icon-white-svg{
    width: 15px;
    height: 15px;
    filter: invert(100%) sepia(4%) saturate(17%) hue-rotate(128deg) brightness(104%) contrast(107%);
}

h1{
    font-size: 6.25rem;
}

h2{
    font-size: 2.188rem;
}

h3{
    font-size: 1.875rem
}

a{
    text-decoration: none;
}

#bold{
    font-weight: bold;
}

#orange-text{
    font-weight: 400;
    color: var(--cor-laranja);
}

#orange-text-bold{
    font-weight: 600;
    color: var(--cor-laranja);
}