#tituloIformacoesPessoais{
    color: #006890;

}

#tituloIformacoesContato{
    color: #006890;
}

#tituloInformacoesProfissionais{
    color:#006890
}

#tituloHabilidadesTecnicas{
    color:#006890
}

#label {
    display: block;
    margin-bottom: 8px;
}